.header{
    background-color: var(--black);
    border-bottom: 2px solid var(--redclaro);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header span{
    font-size: 2rem;
    color: var(--redescuro);
    font-weight: 500;
}
.header span:hover, nav a:hover{
    color: var(--redclaro);
}
.header a{
    text-decoration: none;
    color: var(--white);
    padding-inline: 1rem;
    font-size: 1.125rem; /* 18px */
}