.footer{
    max-width: 100vw;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-top: 2px solid var(--redclaro);
    background-color: var(--black);
    padding: 0.5rem;    
}
.footer h2{
    font-size: 1rem;
    font-weight: 500;
}
.footer a{
    color: var(--white);
    text-decoration: none;
}
.footer a:hover{
    color: var(--redclaro);
}